{% extends "base.html" %}

{% set from = departures[departure][0].lower() + departures[departure][1:] %}
{% set sorted_by_price = tours.values()|sort(attribute="price") %}
{% set sorted_by_nights = tours.values()|sort(attribute="nights") %}

{% block main %}
  <main class="container mt-3">
    <h1 class="display-5 mt-4">Летим {{ from }}</h1>
    <p class="mb-4">Найдено {{ tours|length }} туров, от {{ price_min }}₽ до {{ price_max }}₽ и от {{ nights_min }} ночей до {{ nights_max }} ночей</p>
    <!-- CARDS -->
    <div class="row mt-5">
      {% for id, tour in tours.items() %}
      <div class="col-4">
        <div class="card mb-4">
          <div class="embed-responsive embed-responsive-16by9">
            <img src="{{ tour.picture }}" class="card-img-top embed-responsive-item" alt="">
          </div>
          <div class="card-body">
            <h2 class="h5 card-title">{{ tour.title }}</h2>
            <p class="card-text">{{ tour.description|truncate(130) }}</p>
            <a href="/tours/{{ id }}/" class="btn btn-sm btn-primary">Подробнее</a>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </main>
{% endblock %}}